body{
    font-family: 'Open Sans', sans-serif;
    margin: 0%;
}
h1{
    font-size: 25px;
}
.orng{
    color: orange;
}
section{
   display: flex; 
}
.half-width{
    width: 50%;
    padding-left: 8%;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 5px 20px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}
.banner{
    background-image: url(images/top.png);
    background-repeat: no-repeat;
}